{% extends "base.html" %}

{% block content %}
    <h1>IAFE.GENERAL</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <p>Want to register or forgot your password? Contact your sysadmin 🔧👽</p>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-label">
                {{  field.label_tag }}
            </div>
            <div class="form-input">{{ field }}</div>
        {% endfor %}
      <input type="hidden" name="next" value="{{ next }}" />
      <input class="ui-button" type="submit" value="LOGIN" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

{% endblock %}