
{% extends "base.html" %}

{% block content %}
    <h1>IAFE.EXPENSES DETAIL</h1>
    <table class="expense-table">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Location</th>
            <th>Website</th>
            <th>Address</th>
            <th>Country</th>
            <th>Payment</th>
            <th>Comment</th>
            <th>Image</th>
            <th>Document</th>
            <th>Labels</th>
            <th>Id</th>
        </tr>
        <tr>
            <td>{{ expense.date|date:"Y-m-d" }}</td>
            <td>{{ expense.time|date:"H:i" }}</td>
            <td>{{ expense.amount }}€</td>
            <td>{{ expense.location.type }}</td>
            <td>{{ expense.location.title }}</td>
            <td>{% if expense.location.website %}{{ expense.location.website}}{% else %}-{% endif %}</td>
            <td>{% if expense.location.address %}{{ expense.location.street }}, {{ expense.location.city }}{% else %}-{% endif %}</td>
            <td>{{ expense.location.country }}</td>
            <td>{{ expense.payment }}</td>
            <td>{% if expense.comment %}{{ expense.comment }}{% else %}-{% endif %}</td>
            <td>{% if expense.image %}<a href="{{ expense.image.url }}">Link</a>{% else %}-{%  endif %}</td>
            <td>{% if expense.document %}<a href="{{ expense.document.url }}">Link</a>{% else %}-{%  endif %}</td>
            <td>{% if expense.labels %}{% for l in expense.labels.all %}{{ l }} {% endfor %}{% else %}-{% endif %}</td>
            <td>{{ expense.id }}</td>
        </tr>
    </table>
    <form><button class="ui-button-small ui-button-danger" type="submit" formaction="{% url 'expense-delete' expense.id %}">DEL</button></form>
    <form><button class="ui-button-small" type="submit" formaction="{% url 'expense-update' expense.id %}">EDIT</button></form>
    <!--TODO-FEATURE add export pdf with pics and docs-->
{% endblock %}