{% extends "base.html" %}

{% block content %}
    <h1>IAFE.EXPENSES</h1>
    <div class="ui-nav">
        <form><button class="ui-button ui-button-cta" type="submit" formaction="{% url 'expense-create' %}">Expenses Add</button></form>
        <form><button class="ui-button" type="submit" formaction="{% url 'payment-list' %}">Payments</button></form>
        <form><button class="ui-button" type="submit" formaction="{% url 'location-list' %}">Locations</button></form>
        <form><button class="ui-button" type="submit" formaction="{% url 'label-list' %}">Labels</button></form>

    </div>
    <p>imagine nice charts...</p>
    <h1>IAFE.EXPENSES ALL</h1>
    {% if my_expense_list %}
        <ul class="list-objects">
            {% for expense in my_expense_list %}
                <li>
                    <div class="expense-item">
                    <p class="expense-detail">{{ expense.date|date:"Y-m-d" }} {{ expense.time|date:"H:i" }} [{{ expense.timezone.title }}] in {{ expense.location.title }} using {{ expense.payment.title }}.</p>
                        <p><span class="expense-amount">{{ expense.amount }}€</span></p>
                        <p></p>

                        {% if expense.labels.all %}
                            <div style="grid-area: labels">LABELS: {% for l in expense.labels.all %} <span class="expense-detail">{{ l }}, </span> {% endfor %}</div>
                            <br>
                        {% endif %}

                        {% if expense.comment %}
                            <div style="grid-area: comment">COMMENT: <span class="expense-detail">{{ expense.comment }}</span></div>
                            <br>
                        {% endif %}

                        {% if expense.image %}
                            {% load thumbnail %}
                            {% thumbnail expense.image "100x100" crop="center" as im %}
                                <div class="expense-image"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" onclick="window.location.href='{{ expense.image.url }}'"></div>
                            {% endthumbnail %}
                        {% endif %}

                        {% if expense.document %}
                            <!-- TODO add field document_image which generates preview of pdf file and then use sorl to display it.-->
                        {% endif %}

                        <form><button class="ui-button-small ui-button-danger" type="submit" formaction="{% url 'expense-delete' expense.id %}">DEL</button></form>
                        <form><button class="ui-button-small" type="submit" formaction="{% url 'expense-update' expense.id %}">EDIT</button></form>
                        <form><button class="ui-button-small" type="submit" formaction="{% url 'expense-detail' expense.id %}">MORE</button></form>



                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no expenses, go add some!</p>
    {% endif %}

    <!-- Pagination, needed for massive lists :^) -->
        {% block pagination %}
            {% if is_paginated %}
                <div>
                    <span>
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
                        {% endif %}
                    <span>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">NEXT</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}

{% endblock %}