{% extends "base.html" %}

{% block content %}
    <h1>IAFE.EXPENSES LABELS</h1>
    <form><button class="ui-button" type="submit" formaction="{% url 'label-create' %}">Add Label</button></form>
    {% if label_list %}
        <ul class="list-objects">
            {% for label in label_list %}
                <li>
                    <a class="link-emoji" href="{% url 'label-update' label.id %}">🖋️</a>
                    <a class="link-emoji" href="{% url 'label-delete' label.id %}">🗑️</a>
                    <a href="{{ label.get_absolute_url }}">{{ label }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no labels, go add some!</p>
    {% endif %}

    <!-- Pagination, needed for massive lists :^) -->
        {% block pagination %}
            {% if is_paginated %}
                <div>
                    <span>
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                    <span>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}

{% endblock %}