{% extends "base.html" %}

{% block content %}
    <h1>Locations</h1>
    <form><button type="submit" formaction="{% url 'location-create' %}">Add Location</button></form>
    {% if location_list %}
        <ul class="list-objects">
            {% for location in location_list %}
                <li>
                    <a class="link-emoji" href="{% url 'location-update' location.id %}">🖋️</a>
                    <a class="link-emoji" href="{% url 'location-delete' location.id %}">🗑️</a>
                    <a href="{{ location.get_absolute_url }}">{{ location }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no locations, go add some!</p>
    {% endif %}

    <!-- Pagination, needed for massive lists :^) -->
        {% block pagination %}
            {% if is_paginated %}
                <div>
                    <span>
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                    <span>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}

{% endblock %}