/*
    GLOBAL VARIABLES FOR "RESPONSIVE" DESIGN
 */

:root {
    --fontsize: 13px;
    --box-size: 100px;
}

/*
GENERAL RULES & LAYOUT
 */

* {
    font-family: monospace;
}

html {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;

    /* Font options. */
    font-size: 16px;
    line-height: 1.3;
}

body {
    display: grid;
    grid-template-areas:
    "nav"
    "content";
}

nav {
    position: sticky; /* Always visible. */
    padding: 10px 0; /* Add a bit of padding to not touch browser edges on mobile and scroll, since sticky! */
}

.content {
    grid-area: content;
}

/*
    OBJECT DISPLAY STYLING
 */

.expense-table tr { display: block; float: left; }
.expense-table th { display: block; border: 1px solid black; }
.expense-table td { display: block; border: 1px solid black; }

/* border-collapse */
.expense-table tr>*:not(:first-child) { border-top: 0; }
.expense-table tr:not(:first-child)>* { border-left:0; }

/*
    LIST STYLING
 */

.list-objects {
    /* Style for model instance listing.. */
    list-style: none;
    padding-left: 0;
}

.link-emoji {
    text-decoration: none; /* Remove underline from emojis that are used as href */
}

/*
    FORM STYLING
 */

form {
    display: grid;
}

.form-input {
    text-align: center;
}

.form-input input {
    width: 50%;
}

.form-input select {
    width: 50%;
}

.form-input textarea {
    width: 50%;
}

.form-label {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.form-input li {
    list-style: none;
    text-align: left;
}

/*
    VERY INDUSTRIAL DIZAIN ELEMENTS
 */

.ui-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(var(--box-size), 1fr));
}

.ui-button {
    background-color: black;
    color: white;
    border: none;
    width: var(--box-size);
    height: var(--box-size);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--fontsize);
}

.ui-button-danger {
    background-color: red;
}

.ui-button-cta {
    background-color: red;
}

/*
    MOBILE FIRST DESIGN
    aifone is the primary means of expense logging, since you do not carry your thinkpad around ;^)
 */
@media (max-width: 700px) {

    :root {
        --box-size: 60px;
        --fontsize: 8px;
    }

    html,body { height:100%; } /* This pushes navbar to the bottom of the screen! */

    .content {
        margin-top: 0;
    }

    body {
        display: grid;
        grid-auto-rows: 10fr 1fr;
        grid-template-areas:
        "content"
        "nav";

    }

    nav {
        background-color: white;
        position: sticky;
        bottom: 0;
    }
}